{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/simple.min.css' %}">
        <title>Cliff's Notes</title>
    </head>
    <body>
        <header>
            <h1>Hello, world!</h1>
            <p>Welcome to Cliff's Notes!</p>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>Copyright 2024, Cliff's Notes</p>
        </footer>
    </body>
</html>